.container-EditTodo {
    position: fixed;
    z-index: 100;
    top: 40%;
    left: 18%;
    transform: translate(-50%, -50%);
  }

  .popupEdit-EditTodo {
    color: var(--primary-bg-color-light);
    box-sizing: border-box;
    width: 250px;
    height: 250px;
    background-color: rgba(217, 217, 217, 0.25);
    border: 1px solid rgba(242, 242, 242, 0.1);
    text-align: center;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
  }

  .popupEdit-EditTodo h2 {
    font-size: 1.75rem;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .popupEdit-EditTodo input {
    border: none;
    color: var(--primary-bg-color-light);
    background-color: var(--secondary-bg-color-dark);
    width: 200px;
    height: 45px;
    text-align: center;
  }

  .popButtonsContainer-EditTodo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;    
  }
  
  .popbuttons-EditTodo {
    background: rgba(217, 217, 217, 0.25);
    width: 70px;
    height: 50px;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    color: var(--primary-bg-color-light);
    margin: 15px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
  }

  @media only screen and (max-width: 800px) {
    .popupEdit-EditTodo {
      width: 200px;
      height: 200px;
    }
    .popupEdit-EditTodo h2 {
      font-size: 1.5rem;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 15px;
    }

    .popupEdit-EditTodo input {
      width: 150px;
      height: 45px;
      text-align: center;
    }
  }

  @media only screen and (max-width: 600px) {
    .container-EditTodo {
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }