/*
App Colors
*/

:root {
  --primary-bg-color-light: #f2e7dc;
  --primary-bg-color-dark: #404040;
  --primary-red: #f25c5c;
  --secondary-red: #f2636f;
  --secondary-bg-color-dark: #2d2d2d;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;

  background-color: var(--primary-bg-color-dark);
  /*border: 3px solid yellow;*/
}

#root {
  /*border: 3px solid green;*/

  height: 100%;
  width: 100%;
}

.App {
  /*border: 3px solid cyan;*/

  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-bg-color-light);
}

.main-wrapper {
  /*border: 3px solid purple;*/

  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.h1-title {
  /*border: 3px solid orange;*/

  margin: 30px 0;
  font-size: 2.5em;
}

.features-wrapper {
  /*border: 3px solid saddlebrown;*/

  height: 100%;
  width: 100%;
  background-color: var(--primary-bg-color-dark);
  border-radius: 80px 80px 0 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/*****
Nav.js & ClockTImer.js
******/

/*Nav*/

.wrapper-clock-timer {
  /*border: 3px solid lightgreen;*/

  display: flex;
  flex-flow: column;
  justify-content: center;
}

.wrapper-clock-timer nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
}

.wrapper-clock-timer nav li {
  padding: 1em;
}

.wrapper-clock-timer button {
  background: none;
  border: none;
  color: var(--primary-bg-color-light);
  font-size: 1.45rem;
  cursor: pointer;
}

.wrapper-clock-timer button:hover {
  color: var(--primary-red);
}

/*In Nav.js
.btn-pos {
  transform: translateY(15px);
}*/

/*ClockTimer*/
.div-clock-timer {
  display: flex;
  justify-content: center;
  margin: 30px 0 30px 0;
}

.circle {
  width: 250px;
  height: 250px;
  background: transparent;
  border-color: var(--secondary-red);
  border-style: solid;
  border-width: 4px;
  border-radius: 100%;
}

.circle-content {
  margin: 45px;
}

.timer-session {
  font-size: 4rem;
  color: var(--primary-bg-color-light);
}

.circle-buttons {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

/*****
Todos.js
******/

.wrapper-todos {
  /*border: 3px solid mediumslateblue;*/

  height: 100%;
  width: 100%;
}

.wrapper-project-todo {
  /*border: 3px dashed blue;*/

  height: 95%;

  max-width: 700px;
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  margin: auto;
  filter: drop-shadow(-10px 10px 20px rgba(0,0,0, 0.25));
  /*border-radius: 100px;
  box-shadow: 10px 10px 20px rgba(0,0,0, 0.5);*/
}

.div-project-name {
  background-color: var(--primary-red);
  border-radius: 80px 80px 0 0;
  grid-column: 1 / span 30;
  grid-row: 1 / span 1;
}

.div-project-separator {
  background-color: var(--primary-bg-color-light);
  border-radius: 80px 80px 0 0;
  grid-column: 2 / span 28;
  grid-row: 1 / span 1;
}

.div-project-todos {
  background-color: var(--secondary-bg-color-dark);
  border-radius: 80px 80px 0 0;
  grid-column: 3 / span 26;
  grid-row: 1 / span 1;
  height: 100%;
}

/*Styles of elements inside overlayed boxes*/

.project-name-position {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 70px 0 70px;
  font-size: 1.25rem;
}

.project-name-position button {
  background: none;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
  margin-top: 5px;
  padding-left: 10px;
}

.project-todos-title-position {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px 0 70px;
  font-size: 1.25rem;
  color: var(--primary-bg-color-light);
}

.todos-addTask {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  padding: 15px 60px 0 70px;
}

.todos-addTask input {
  border: none;
  border-radius: 10px;
  background-color: var(--primary-bg-color-dark);
  color: var(--primary-bg-color-light);
  padding: 10px;
  font-size: 1.115rem;
}

.todos-addTask button {
  background: none;
  border: none;
  font-size: 1.125rem;
  cursor: pointer;
  color: var(--primary-bg-color-light);
}

.todos-list {
  margin-top: 10px;
  display: flex;
  flex-flow: column;
  align-items: space-between;
  padding: 15px 60px 0 70px;
}

.todos-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  color: var(--primary-bg-color-light);
  padding: 8px 0;
  border-bottom: 1px solid var(--primary-bg-color-dark);
}

.todos-list button {
  background: none;
  border: none;
  font-size: 1.125rem;
  cursor: pointer;
  margin: 0 5px;
}

.todos-list span {
  margin: 0 5px;
}

/*
media queries
*/

@media only screen and (min-width: 550px) {
  .btn-pos {
    transform: translateY(20px);
  }
}

@media only screen and (max-width: 420px) {
  .todos-addTask {
    flex-direction: column;
  }
}
