/*
App Colors
*/

:root {
  --primary-bg-color-light: #f2e7dc;
  --primary-bg-color-dark: #404040;
  --primary-red: #f25c5c;
  --secondary-red: #f2636f;
  --secondary-bg-color-dark: #2d2d2d;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  /*border: 3px solid yellow;*/
}

#root {
  /*border: 3px solid green;*/

  height: 100%;
  width: 100%;
}

.App {
  /*border: 3px solid cyan;*/

  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.main-wrapper {
  /*border: 3px solid purple;*/

  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.top-div-info-bar {
  width: 100%;
  height: 85px;
  background-color: var(--primary-red);
  color: var(--primary-bg-color-light);
  text-align: center;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-name {
  margin-left: 50px;
}

.top-div-info-bar h1 {
  font-size: 2rem;
}

.top-div-info-bar a {
  text-decoration: none;
  color: var(--primary-bg-color-light);
  padding: 0 5px;
}

.social-media {
  margin-right: 50px;
  font-size: 1.75rem;
}

.features-wrapper {
  height: 100%;
  width: 100%;
  background-color: var(--primary-bg-color-dark);

  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
}

/*****
Nav.js & ClockTImer.js
******/

/*Nav*/

.wrapper-clock-timer {
  width: 70%;
  height: 100%;
  background-color: var(--secondary-bg-color-dark);

  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

.wrapper-clock-timer nav ul {
  display: flex;
  flex-flow: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
}

.wrapper-clock-timer nav li {
  padding: 4rem 1rem 2rem 1rem;
}

.wrapper-clock-timer button {
  background: none;
  border: none;
  color: var(--primary-bg-color-light);
  font-size: 1.4rem;
  cursor: pointer;
}

.wrapper-clock-timer button:hover {
  color: var(--primary-red);
}

#btn-pomodoro {
  font-size: 2rem;;
}

/*In Nav.js
.btn-pos {
  transform: translateY(15px);
}*/

/*ClockTimer*/
.div-clock-timer {
  display: flex;
  justify-content: center;
  margin: 30px 0 30px 0;
}

.circle {
  width: 250px;
  height: 250px;
  background: transparent;
  border-color: var(--secondary-red);
  border-style: solid;
  border-width: 4px;
  border-radius: 100%;
}

.circle-content {
  margin: 45px;
}

.timer-session {
  font-size: 4rem;
  color: var(--primary-bg-color-light);
}

.circle-buttons {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

/*****
Todos.js
******/

.wrapper-todos {
  height: 100%;
  width: 30%;
}

.wrapper-project-todo {
  color: var(--primary-bg-color-light)

  
}

.div-project-name {

}


.div-project-todos {

}

/*Styles of elements inside overlayed boxes*/

.project-name-position {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
}

.project-name-position button {
  background: none;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
  margin-top: 5px;
  padding-left: 10px;
  color: var(--primary-bg-color-light)
}

.project-todos-title-position {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px 0 70px;
  font-size: 1.25rem;
  
}

.todos-addTask {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  padding: 15px 60px 0 70px;
}

.todos-addTask input {
  border: none;
  border-radius: 10px;
  background-color: var(--secondary-bg-color-dark);
  color: var(--primary-bg-color-light);
  padding: 10px;
  font-size: 1.115rem;
  width: 100%;
}

.todos-addTask button {
  background: none;
  border: none;
  font-size: 1.125rem;
  cursor: pointer;
  color: var(--primary-bg-color-light);;
}

.todos-list {
  margin-top: 10px;
  display: flex;
  flex-flow: column;
  align-items: space-between;
  padding: 15px 60px 0 70px;
}

.todos-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  color: var(--primary-bg-color-light);
  padding: 8px 0;
  border-bottom: 1px solid var(--primary-bg-color-dark);
}

.todos-list button {
  background: none;
  border: none;
  font-size: 1.125rem;
  cursor: pointer;
  margin: 0 5px;
}

.todos-list span {
  margin: 0 5px;
}

/*
media queries
*/

@media only screen and (min-width: 550px) {
  .btn-pos {
    transform: translateY(40px);
    padding: 0 50px;
  }
}

@media only screen and (max-width: 980px) {
  .wrapper-clock-timer nav ul {
    flex-flow: column;
  }

  .wrapper-clock-timer nav li {
    padding: 1rem 0 0.5rem 0;
  }

  .btn-pos {
    transform: translateY(0px);
  }

}
